 local OrionLib = loadstring(game:HttpGet("https://raw.githubusercontent.com/shlexware/Orion/main/source"))()
local Window = OrionLib:MakeWindow({Name = "链接失效", HidePremium = false, SaveConfig = false, IntroText = "链接失效", ConfigFolder = "链接失效"})

OrionLib:MakeNotification({
	Name = "？",
	Content =  "欢迎" .. game.GameId .. ".",
	Image = "rbxassetid://",
	Time = 5
})


local Tab = Window:MakeTab({
	Name = "提示",
	Icon = "rbxassetid://",
	PremiumOnly = false
})


Tab:AddButton({
	Name = "复制QQ群获取最新版",
	Callback = function()
     setclipboard("819397507")
  	end
})
